body {
  width: 700px;
  margin: auto;
  padding: 20px;
}

#output {
  padding-top: 20px;
}

#output div {
  border: 1px solid grey;
  margin: auto;
  padding: 10px;
}

h4 {
  padding: 0px;
  margin: 0px;
}


